*{
    margin:0;
    padding:0;
}

body{
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    width: 100%;
	margin: none;
	padding: none;
    background: url(../images/white_fade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header div{
	min-height: 200px;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

header div a{
    text-decoration: none;
}

.name_ppal{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    color: rgba(12, 12, 12, 0.795)
}

.name_ppal:hover{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    color: black;
}

.description p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(12, 12, 12, 0.795);
}

.description ul{
    position:fixed;
    top: 5%;
    left: 93%;
}

.description ul li{
    padding:none;
    list-style:none;
    display:inline-block;
}

.description ul li a{
    display: block;
    bottom: 1px;
    margin: none;
    text-align: center;
}

.main{
    width: 100%;
	margin: auto;
    background-color: rgba(255, 255, 255, 0);
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
}

.photo_ppal{
    border-radius: 10px;
    margin: 10%;
    height: 900px;
    width: 700px;
    background: url(../images/white_fade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	text-align: center;
	background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont{
	margin: none;
	padding: none;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
}

.cont div{
    border-radius: 10px;
    height: 300px;
    width: 400px;
    background: url(../images/white_fade.jpg);
	text-align: center;
	padding: 20px;
	background-size: cover;
	background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont a{
    text-decoration: none;
}

.cont a:hover{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    text-shadow: 0.2px 0.2px;
    color: black;
}

.Cv_text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: rgba(12, 12, 12, 0.795);
    text-align: left;
}

.Cl_text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: rgba(12, 12, 12, 0.795);
    text-align: left;
}

.top_button{
    position:fixed;
    left:92%;
    top:84%;
    width:4.2%;
    height:auto;
}

footer{
    position: relative;
    top: 100%;
    background: url(../images/white_fade.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

footer ul li{
    padding:none;
    list-style:none;
    display:inline-block;
}


footer a{
    display: block;
    padding: 0em 1em;
    text-align: center;
}

.argentina{
    height: 30px;
    margin-top: 5px;
}

.usa{
    height: 20px;
    width: 30px;
    margin-bottom: 5px;
}




/*
.photo_ppal a{
    text-decoration: none;
}

.photo_ppal a img{
    float: left;
    height: 10em;
    width: auto;
    padding: 0em 4em;
}

.name_ppal{
    display: block;
    padding: 2em 2em;
    margin: none;
    /*background: #94d3d8;
    background: #94d3d8be;
    /*background: rgba(0, 0, 0, 0.589);
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: quicksand;
    letter-spacing:1px;
    text-shadow:0px 1px 1px #000;
}

.name_ppal:hover{
    background: #94d3d8b0;
}
*/


/*
.bar_ppal{
    /*background: url(../images/dark_blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background: #94d3d891;
    text-align: center;    
}

.bar_ppal ul li{
    padding:none;
    list-style:none;
    display:inline-block;
}

.bar_ppal ul li:hover{
    background: #94d3d8c7;
}

.bar_ppal ul li a{
    display: block;
    padding: 3.5em 9em 2.5em 9em;
    margin: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    font-family: monospace;
    letter-spacing:1px;
    text-shadow:0px 1px 1px #000;
}*/
